@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: "archivo";
    font-display: swap;
    src: url("/fonts/Archivo/Archivo-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "archivo-semibold";
    font-display: swap;
    src: url("/fonts/Archivo/Archivo-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "archivo-semibold-italic";
    font-display: swap;
    src: url("/fonts/Archivo/Archivo-SemiBoldItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: "archivo-thin";
    font-display: swap;
    src: url("/fonts/Archivo/Archivo-Thin.ttf") format("truetype");
  }

  @font-face {
    font-family: "archivo-light";
    font-display: swap;
    src: url("/fonts/Archivo/Archivo-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "redditsans-light";
    font-display: swap;
    src: url("/fonts/Reddit_Sans/RedditSans-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "redditsans-semibold";
    font-display: swap;
    src: url("/fonts/Reddit_Sans/RedditSans-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "redditsans-italic";
    font-display: swap;
    src: url("/fonts/Reddit_Sans/RedditSans-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: "redditsans-semibold-italic";
    font-display: swap;
    src: url("/fonts/Reddit_Sans/RedditSans-SemiBoldItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: "redditsans-bold";
    font-display: swap;
    src: url("/fonts/Reddit_Sans/RedditSans-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "redditsans-regular";
    font-display: swap;
    src: url("/fonts/Reddit_Sans/RedditSans-Regular.ttf") format("truetype");
  }
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: white;
  height: 5.0519vw;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 50;
  transition: top 0.3s;
}

.navbar.hidden {
  top: -100px; /* Adjust this value as needed to fully hide the navbar */
}

@keyframes mainPagePointer {
  0% {
      transform: translateY(0);
  }
  10% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(50%);
  }
  90% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(0);
  }
}
.animate-movingPointer {
  animation: mainPagePointer 2s ease-in-out infinite;
}